<% provide(:title, 'All lessons') %>
<h1>All lessons</h1>

<%= will_paginate %>
<ul class="users">
  <% @lessons.each do |lesson| %>
    <li>
      <%= gravatar_for lesson, size: 50 %>
      <%= link_to lesson.name, lesson %>
    </li>
  <% end %>
</ul>
<%= will_paginate %>